{% extends 'suggestions/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2 class="mb-4">投稿作成</h2>
      <form method="post" action="{% url 'suggestion_create' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="content" class="form-label">提案内容</label>
          <textarea class="form-control" id="content" name="content" rows="5"></textarea>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">カテゴリー</label>
          <select class="form-select" id="category" name="category">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
  
        <div class="mb-3">
          <label for="business_details" class="form-label">事業内容の詳細</label>
          <textarea class="form-control" id="business_details" name="business_details" rows="5"></textarea>
        </div>
        <div class="mb-3">
          <label for="business_start_date" class="form-label">事業スタート日付</label>
          <input type="date" class="form-control" id="business_start_date" name="business_start_date">
        </div>
        <div class="mb-3">
          <label for="fixed_asset_investment_year1" class="form-label">1年目固定資産投資金額</label>
          <input type="number" class="form-control" id="fixed_asset_investment_year1" name="fixed_asset_investment_year1">
        </div>
        <div class="mb-3">
          <label for="non_fixed_asset_investment_year1" class="form-label">1年目固定資産以外投資金額</label>
          <input type="number" class="form-control" id="non_fixed_asset_investment_year1" name="non_fixed_asset_investment_year1">
        </div>
        <div class="mb-3">
          <label for="depreciation_year1" class="form-label">1年目減価償却費</label>
          <input type="number" class="form-control" id="depreciation_year1" name="depreciation_year1">
        </div>
        <div class="mb-3">
          <label for="other_expenses_year1" class="form-label">1年目その他費用</label>
          <input type="number" class="form-control" id="other_expenses_year1" name="other_expenses_year1">
        </div>
        <div class="mb-3">
          <label for="revenue_year1" class="form-label">1年目収益</label>
          <input type="number" class="form-control" id="revenue_year1" name="revenue_year1">
        </div>
        <div class="mb-3">
          <label for="fixed_asset_investment_year2" class="form-label">2年目固定資産投資金額</label>
          <input type="number" class="form-control" id="fixed_asset_investment_year2" name="fixed_asset_investment_year2">
        </div>
        <div class="mb-3">
          <label for="non_fixed_asset_investment_year2" class="form-label">2年目固定資産以外投資金額</label>
          <input type="number" class="form-control" id="non_fixed_asset_investment_year2" name="non_fixed_asset_investment_year2">
        </div>
        <div class="mb-3">
          <label for="depreciation_year2" class="form-label">2年目減価償却費</label>
          <input type="number" class="form-control" id="depreciation_year2" name="depreciation_year2">
        </div>
        <div class="mb-3">
          <label for="other_expenses_year2" class="form-label">2年目その他費用</label>
          <input type="number" class="form-control" id="other_expenses_year2" name="other_expenses_year2">
        </div>
        <div class="mb-3">
          <label for="revenue_year2" class="form-label">2年目収益</label>
          <input type="number" class="form-control" id="revenue_year2" name="revenue_year2">
        </div>
        <div class="mb-3">
          <label for="fixed_asset_investment_year3" class="form-label">3年目固定資産投資金額</label>
          <input type="number" class="form-control" id="fixed_asset_investment_year3" name="fixed_asset_investment_year3">
        </div>
        <div class="mb-3">
          <label for="non_fixed_asset_investment_year3" class="form-label">3年目固定資産以外投資金額</label>
          <input type="number" class="form-control" id="non_fixed_asset_investment_year3" name="non_fixed_asset_investment_year3">
        </div>
        <div class="mb-3">
          <label for="depreciation_year3" class="form-label">3年目減価償却費</label>
          <input type="number" class="form-control" id="depreciation_year3" name="depreciation_year3">
        </div>
        <div class="mb-3">
          <label for="other_expenses_year3" class="form-label">3年目その他費用</label>
          <input type="number" class="form-control" id="other_expenses_year3" name="other_expenses_year3">
        </div>
        <div class="mb-3">
          <label for="revenue_year3" class="form-label">3年目収益</label>
          <input type="number" class="form-control" id="revenue_year3" name="revenue_year3">
        </div>
        <div class="mb-3">
          <label for="disposal_amount" class="form-label">事業終了時売却金額</label>
          <input type="number" class="form-control" id="disposal_amount" name="disposal_amount">
        </div>
        <div class="mb-3">
          <label for="yield_rate" class="form-label">利回り</label>
          <input type="number" class="form-control" id="yield_rate" name="yield_rate">
        </div>
        <button type="submit" class="btn btn-primary">提案する</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
