{% extends 'suggestions/base.html' %}

{% block content %}
    <h1>{{ suggestion.category }}</h1>
    <p>{{ suggestion.content }}</p>
    <p><small>投稿日: {{ suggestion.created_at }}</small></p>
    <!-- ここを変更 -->
    <a href="{% url 'message_thread' sender_id=request.user.id recipient_id=suggestion.user.id %}">このユーザーにメッセージを送る</a>

    <a href="{% url 'suggestion_list' year=now_year month=now_month  %}">戻る</a>
    {% if user == suggestion.user %}
    <a href="{% url 'suggestion_edit' suggestion.id %}">編集</a>
    <a href="{% url 'suggestion_delete' suggestion.id %}">削除</a>

    {% endif %}

{% endblock %}
